@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-background: #FFFFE9;
    --bg-sidebar: #0d80d4;
    --text-color: #ffffff;
    --woman-card: rgba(255, 0, 0, 0.735);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    background: var(--bg-background);
}

body > div {
    height: 100%;
    min-width: 300px;
    display: grid;
    grid-template-areas: 
    'sidebar main';
    grid-template-columns: 80px 1fr;
}

body div.open {
    grid-template-areas: 
    'sidebar main';
    grid-template-columns: 160px 1fr;
}

/*div#sidebar*/
body > div div#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 0 28px;
    background: var(--bg-sidebar);
    box-shadow: 5px 0 10px #d1d1bf;
}

div#sidebar div#header {
    height: 64px;
    display: flex;
}

div.open div#header {
    justify-content: center;
}

div#header button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

div#header > p {
    color: var(--text-color);
}

div#sidebar div#pages {
    flex: 1;
    padding-top: 64px;
}

div#pages li {
    margin-bottom: 24px;
}

div#pages a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

a p.page-link {
    margin-left: 24px;
    display: none;
}

div.open .page-link {
    display: initial;
}

i {
    color: var(--text-color);
    font-size: 24px;
}

div#sidebar div#footer {
    height: 64px;
    display: flex;
    align-items: center;
}

div.open div#footer {
    justify-content: center;
}

div#footer button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

/*div#dashboard*/
body > div div#professors {
    grid-area: main;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    overflow-y: scroll;    
    padding: 64px 16px 16px;
}

div#professors::-webkit-scrollbar {
    display: none;
}

div#professors div.woman,
div#professors div.man {
    width: 240px;
    height: fit-content;
    border-radius: 18px;
    padding: 12px;
    background: var(--text-color);
}

div#professors div.woman {
    border: 2px solid var(--woman-card);
}

div#professors div.man {
    border: 2px solid var(--bg-sidebar);
}

div.foto {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 12px;
    background: var(--woman-card);
}

div.info p {
    margin-top: 6px;
    font-size: 12px;
}

div.new {
    width: 240px;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    padding: 12px;
    border: 1px solid var(--bg-sidebar);
    transition: hover 1s;
}

div.new button {
    width: 160px;
    height: 100px;
    font-size: 20px;
    color: var(--bg-sidebar);
    background: transparent;
    outline: 0;
    border: 0;
    transition: .3s;
}

div.new button:hover {
    color: #28a5ff;
}


dialog::backdrop {
    background-color:#ffffe95b;
}

dialog {
    min-width: 300px;
    text-align: center;
    margin: 120px auto;
    color: rgb(17, 173, 162);
    border: 2px solid;
    border-radius: 18px;
    padding: 24px;
}

dialog h1 {
    margin-bottom: 24px;
}

input[type='text'] {
    width: 100%;
    margin-bottom: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(17, 173, 162);
}

form div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(0, 0, 0, 0.550);
}

input[type='checkbox'] {
    width: 16px;
    height: 16px;
    border: rgb(17, 173, 162);
}

input[type='submit'] {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px 0;
    margin-top: 24px;
    color: var(--text-color);
    background: rgb(17, 173, 162);
}

@media (max-width: 720px) {

    body > div {
        grid-template-areas: 
        'sidebar'
        'main';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    body div.open {
        grid-template-areas: 
        'sidebar'
        'main';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    body > div div#sidebar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
    }
    
    div#sidebar div#pages {
        padding-top: 0px;
        flex: 0;
    }

    div#pages ul {
        display: flex;
    }

    div#pages li {
        margin: 0 12px;
    }

    div#header button,
    div#footer i {
        display: none;
    }

    div#professors div#card {
        width: 200px;
        height: 400px;
        border-radius: 0 0 24px 24px;
        background: red;
    }
    
    div#card div#info {
        width: 98%;
        height: 100%;
        border-radius: 0 0 24px 24px;
        background: white;
    }
}
