@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-background: #FFFFE9;
    --bg-sidebar: #0d80d4;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    background: var(--bg-background);
}

body > div {
    height: 100%;
    min-width: 300px;
    display: grid;
    grid-template-areas: 
    'sidebar main';
    grid-template-columns: 80px 1fr;
}

body .open {
    grid-template-areas: 
    'sidebar main';
    grid-template-columns: 160px 1fr;
}

/*div#sidebar*/
body > div #sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 0 28px;
    background: var(--bg-sidebar);
    box-shadow: 5px 0 10px #d1d1bf;
    color: var(--text-color);
}

#sidebar #header {
    height: 64px;
    display: flex;
    align-items: center;
}

#header > p {
    display: none;
}

.open #header > p {
    display: block;
}

#header button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 24px;
}

#sidebar #pages {
    flex: 1;
    padding-top: 64px;
}

#pages li {
    margin-bottom: 24px;
}

#pages a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

a .page-link {
    margin-left: 24px;
    display: none;
}

.open .page-link {
    display: initial;
}

#sidebar i {
    color: var(--text-color);
    font-size: 24px;
}

#sidebar #footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer #foto {
    width: 40px;
    height: 40px;
    background: white;
}

#footer button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

/*div#dashboard*/
body > div #dashboard {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;    
    padding: 64px 16px 16px;
}

#dashboard::-webkit-scrollbar {
    display: none;
}

#dashboard h1 {
    margin-bottom: 24px;
}

#dashboard img {
    width: 80%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 40px;
}

#dashboard #school {
    width: 80%;
} 

@media (max-width: 720px) {
    body > div {
        grid-template-areas: 
        'sidebar'
        'main';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    body .open {
        grid-template-areas: 
        'sidebar'
        'main';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    body > div #sidebar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
    }
    
    #sidebar #pages {
        padding-top: 0px;
        flex: 0;
    }

    #pages ul {
        display: flex;
    }

    #pages li {
        margin: 0 12px;
    }

    #header button,
    #footer i,
    #footer #foto {
        display: none;
    }
}
