@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-background: #FFFFE9;
    --bg-sidebar: #0d80d4;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    background: var(--bg-background);
}

body > div {
    height: 100%;
    min-width: 300px;
    display: grid;
    grid-template-areas: 
    'sidebar main';
    grid-template-columns: 80px 1fr;
}

body div.open {
    grid-template-areas: 
    'sidebar main';
    grid-template-columns: 160px 1fr;
}

/*div#sidebar*/
body > div div#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 0 28px;
    background: var(--bg-sidebar);
    box-shadow: 5px 0 10px #d1d1bf;
}

div#sidebar div#header {
    height: 64px;
    display: flex;
}

div.open div#header {
    justify-content: center;
}

div#header button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

div#header > p {
    color: var(--text-color);
}

div#sidebar div#pages {
    flex: 1;
    padding-top: 64px;
}

div#pages li {
    margin-bottom: 24px;
}

div#pages a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

a p.page-link {
    margin-left: 24px;
    display: none;
}

div.open .page-link {
    display: initial;
}

i {
    color: var(--text-color);
    font-size: 24px;
}

div#sidebar div#footer {
    height: 64px;
    display: flex;
    align-items: center;
}

div.open div#footer {
    justify-content: center;
}

div#footer button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

/*div#register*/
body > div div#register {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y: scrollw;
}

div#register > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 16px 16px;
}

div#register > div h4 {
    margin: 0 32px;
    text-align: justify;
}

div#register > div p {
    margin: 0 32px;
    font-style: italic;
    font-size: 12px;
}

div#register > div form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
    border-radius: 4px;
    font-size: 18px;
    background: #d6eefd;
}

label {
    margin-right: 4px;
}

input {
    width: 100%;
    padding: 6px 8px 0 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--bg-sidebar);
}

/* para remover a seta no Chrome e Safari*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='submit'] {
    height: initial;
    padding: 6px 12px;
    border-radius: 4px;
    background: var(--bg-sidebar);
}

div#register div#score-table {
    flex: 1;
    padding: 16px;
}

table {
    width: 100%;
    text-align: center;
}

thead th:first-child {
    border-bottom: none
}

tbody tr:first-child td {
    padding-top: 24px;
}

td {
    padding-top: 12px;
    border-bottom: 1px solid black;
}

@media (max-width: 720px) {

    body > div {
        grid-template-areas: 
        'sidebar'
        'main';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    body div.open {
        grid-template-areas: 
        'sidebar'
        'main';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    body > div div#sidebar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
    }
    
    div#sidebar div#pages {
        padding-top: 0px;
        flex: 0;
    }

    div#pages ul {
        display: flex;
    }

    div#pages li {
        margin: 0 12px;
    }

    div#header button,
    div#footer i {
        display: none;
    }

    div#register > div {
        box-shadow: 5px 0 10px red inset,
    }

    div#register div#form {
        width: 100%;
        height: fit-content;
    }
}
